<%- include("partials/header") %>

<main>
  <h1>Explore Our Themed Areas</h1>
  <p><strong><%= openHours %></strong></p>

  <% areas.forEach(area => { %>
    <div class="area">
      <div class="area-header">
        <div class="area-text">
          <!-- Image comes from DB -->
          <img src="<%= area.image %>" alt="<%= area.name %>" />
          


          <h2><%= area.name %></h2>
          <p><%= area.description %></p>
        </div>
      </div>

      <div class="attractions">
        <h3>Attractions:</h3>
        <% attractions.filter(a => a.area_id === area.id).forEach(attraction => { %>
          <div class="attraction">
            <strong><%= attraction.name %></strong>: <%= attraction.description %>
          </div>
        <% }) %>
      </div>
    </div>
    
  <% }) %>
  <div class="image-gallery">
    <!-- First Image Section -->
    <div class="intro-image">
      <img id="imageOne" src="/img/dv.jpg" alt="Adventure Kingdom" />
    </div>

    <!-- Second Image Section -->
    <div class="intro-image">
      <img id="imageTwo" src="/img/dv1.jpg" alt="Adventure Kingdom" />
    </div>
  </div>
</main>

<%- include("partials/footer") %>
